version: 2

registries:
  npm-github:
    type: npm-registry
    url: https://npm.pkg.github.com
    token: ${{secrets.READER_TOKEN}}

updates:
  # ==============
  # KOTLIN BACKEND
  # ==============
  - package-ecosystem: "maven"
    directories:
      - "/"
    schedule:
      interval: "monthly"
      day: "sunday"
    open-pull-requests-limit: 10
    groups:
      backend:
        patterns:
          - "*"

  # =============
  # FRONTEND
  # =============
  - package-ecosystem: "npm"
    directories:
      - "/"
    schedule:
      interval: "monthly"
      day: "sunday"
    open-pull-requests-limit: 10
    registries:
      - npm-github
    groups:
      frontend:
        patterns:
        - "*"

  # ==============
  # GITHUB ACTIONS
  # ==============
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
      day: "sunday"

  # ==============
  # Docker
  # ==============
  - package-ecosystem: "docker"
    directories:
      - "/"
    schedule:
      interval: "monthly"
      day: "sunday"
    groups:
      docker-frontend:
        patterns:
          - "*"