<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="stdout_json" target="SYSTEM_OUT">
            <JsonTemplateLayout eventTemplateUri="classpath:LogstashJsonEventLayoutV1.json" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.springframework.web.servlet.PageNotFound" level="DEBUG" />
        <Logger name="org.springframework.security" level="DEBUG" />
        <Root level="DEBUG">
            <AppenderRef ref="stdout_json" />
        </Root>
    </Loggers>
</Configuration>
