name: "Build and deploy asciidoc to github pages"
on:
  workflow_dispatch:
  push:
    branches:
      - "main"
    paths:
      - "src/site/**"
      - ".github/workflows/asciidoctor.yaml"
jobs:
  build_site:
    name: "build asciidoc for github pages"
    runs-on: ubuntu-latest
    permissions:
      contents: write
    defaults:
      run:
        shell: bash
        working-directory: "src/site/asciidoc"
    steps:
    - uses: actions/checkout@v6
      with:
        persist-credentials: false
    - uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '21'
    - uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd
      with:
        ruby-version: '2.6'
    - name: Install plantuml
      run: "sudo gem install asciidoctor-diagram asciidoctor-diagram-plantuml"
    - name: Install asciidoctor
      run: "sudo apt-get install asciidoctor"
    - name: Install graphviz
      run: "sudo apt-get install graphviz"
    - name: Compile using asciidoctor
      run: "asciidoctor -D ${{ github.workspace }}/build -r asciidoctor-diagram index.asciidoc"
    - name: Print working directory for test
      run: "pwd"
    - name: Upload generated site
      uses: actions/upload-artifact@v6
      with:
        name: site
        path: "${{ github.workspace }}/build"

    - name: Deploy to GitHub Pages
      uses: JamesIves/github-pages-deploy-action@d92aa235d04922e8f08b40ce78cc5442fcfbfa2f
      with:
        folder: "build"
        branch: 'gh-pages'
        commit-message: "[CI] Publisere dokumentasjon"