name: Build, push, and deploy

on:
  push:
  workflow_dispatch:

jobs:

  build:
    name: Build and push Docker container
    permissions:
      contents: read
      checks: write
      id-token: write
      packages: write
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Build frontend assets
        uses: actions/setup-node@v6
        with:
          node-version: 22.x
      - run: npm ci
      - run: npm run build
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: 'temurin'
      - name: Set up cache
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-
      - name: Build with Maven
        run: mvn package
      - name: "Build and publish container image"
        uses: nais/docker-build-push@v0
        env:
          TRIVY_JAVA_DB_REPOSITORY: "public.ecr.aws/aquasecurity/trivy-java-db:1"
        id: docker-build-push
        if: (github.event_name == 'push' && github.ref == 'refs/heads/main') || github.event_name == 'workflow_dispatch'
        with:
          team: pensjonsbrev
          image_suffix: pensjon-dokdist
          push_image: true

  deploy-q2:
    name: Deploy to q2
    permissions:
      contents: read
      id-token: write
    needs: build
    if: (github.event_name == 'push' && github.ref == 'refs/heads/main') || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: nais/naiserator-q2.yml
          VAR: image=${{ needs.build.outputs.image }}


  deploy-prod:
    name: Deploy to prod
    permissions:
      contents: read
      id-token: write
    needs: build
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: nais/naiserator-prod.yml
          VAR: image=${{ needs.build.outputs.image }}
